*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
header{
    background-color: #e000ff;
    padding: .9rem;
    text-align: center;
}

ol {
  background: salmon;
  padding: 20px;
}

ol li {
  background: mistyrose;
  color: darkred;
  padding: 10px;
  margin-left: 20px;
}
h1{
  text-align: center;
}